html,body{
    background-color: #bcbcaa;
}

body {
    padding-top: 50px;
}

.container-fluid, .row{
    background-color: #bcbcaa;
}
.sidebar {
    padding: 12px;
    background-color: #bcbcaa;
}

form {
    padding-top: 12px;
}

#map-canvas {
    height:100%;
    position: absolute;
    right:0;
}